@import "tailwindcss";
@import "./theme.css";

body {
  /* This ensures the background and text color transition smoothly */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* If you want every element to transition (more thorough, but can be heavy) */
*, *::before, *::after {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}