@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
  --color-primary: #1e40af;
  --color-secondary: rgb(37, 47, 76);
  --color-tertiary: #ea82a5;
  --color-background: #f8fafc;
  --color-foreground: #111827;
  --color-accent: #0ea5e9;
  --color-border: #d4dce6;
}

.dark {
  color-scheme: dark;
  --color-primary: #60a5fa;
  --color-secondary: #3b82f6;
  --color-tertiary: #ea82a5;
  --color-background: #0f172a;
  --color-foreground: #f1f5f9;
  --color-accent: #00758a;
  --color-border: #354155;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);
}